@font-face {
  font-family: "rubik";
  src: url("/fonts/rubik.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "nunito";
  src: url("/fonts/Nunito.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "sf-pro";
  src: url("/fonts/SF-Pro.ttf") format("truetype");
  font-display: swap;
}


/* Set sf-pro as the global body font */
body {
  font-family: "sf-pro", sans-serif;
}
